body{
    background: rgb(9, 9, 19);
}
.navBar{

    background: black;
    color: whitesmoke;
    position: fixed;
    width: 70%;
    height: 100vh;
    transition: .5s;
    top: 0;
    right: -700px;
    z-index: 5;
   

}
.navBar ul{
display: grid;
padding: 0;
opacity: 0;
height: 90%;
transition: .9s;

}
.navBar ul li{
    display: flex;
    margin-left: 1rem;
}
.navBar ul li:last-child{
    margin-top: auto;
}
.navBar ul li img{
    height: 24px;
    width: 24px;
}
.navBar ul li p{
    margin: 0;
    margin-left: 1rem;
    opacity: 0;
    transition: .2s;
    color: white;
  width: 24px;}

.navBar .menuButton{
    display: none;
}
.navBar-expanded{
   
  right: 0;
    background: black;
    
}
.navBar-expanded ul{
    opacity: 100;
}
.navBar-expanded ul li p{
    opacity: 100;
}
.navBar ul li:first-child{
    margin-right: auto;
    margin-left: 1rem;
}
.navBar-expanded .menuButton{
    display: block;
}
 .menuButton{
    z-index: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: .5rem;
    right: .5rem;
}
.navBar-expanded .menuButton{
    left: .5rem;
}
@media screen and (min-width: 768px){
    .navBar{
        
        background: black;
        width: 60px;
        height: 100vh;
        left: 0;
        right: unset;
    }
    .navBar ul {
        display: grid;
        opacity: 100;
        height: 90%;
        row-gap: 1rem;
        
    }
  
    .navBar:hover ul li p{
        display: flex;
        opacity: 100;   

    }
    .navBar:hover{
        right: unset;
        background: black;
        width: 200px;
    }
    .menuButton{
        right: unset;
        left: 1.5rem;
    }
   
}